In [1]:
import pandas as pd

In [6]:
data = pd.read_csv("Qmerge1-FirstLastHRV.csv") 
data.head(20)

,nsrrid,gender_x,race_x,age_s1_x,ang_date,chd_dthdt,chf_date,cvd_dthdt,mi_date,stk_date,...,ihr,NN_RR,AVNN,SDNN,VLF,LF,LF_n,HF,HF_n,LF_HF
0,200079,2,3,56,NaN,NaN,NaN,NaN,NaN,NaN,...,75.112951,0.992000,798.797,46.21180,695.63900,285.53000,0.256639,827.04600,0.743361,0.345241
1,200079,2,3,56,NaN,NaN,NaN,NaN,NaN,NaN,...,70.633025,0.968839,849.461,72.63430,1234.82830,1666.85000,0.507907,1614.95000,0.492093,1.032140
2,200082,1,1,40,NaN,NaN,NaN,NaN,NaN,NaN,...,59.355400,0.996610,1010.860,39.43320,739.21210,531.02400,0.686206,242.83100,0.313794,2.186800
3,200082,1,1,40,NaN,NaN,NaN,NaN,NaN,NaN,...,56.666320,0.996466,1058.830,146.82300,13231.30000,3964.45000,0.378345,6513.94000,0.621655,0.608610
4,200108,2,1,60,NaN,NaN,NaN,NaN,NaN,NaN,...,64.954397,0.990741,923.725,27.72130,532.07900,168.40600,0.672796,81.90150,0.327204,2.056200
5,200108,2,1,60,NaN,NaN,NaN,NaN,NaN,NaN,...,65.792720,0.996960,911.955,22.60800,232.13060,136.38900,0.573241,101.53700,0.426759,1.343240
6,200109,2,1,71,NaN,NaN,3577.0,3934.0,NaN,NaN,...,76.865428,0.997389,780.585,8.41453,55.35610,8.87934,0.669649,4.38036,0.330351,2.027080
7,200109,2,1,71,NaN,NaN,3577.0,3934.0,NaN,NaN,...,77.210140,0.997409,777.100,18.35930,261.42960,49.57810,0.689967,22.27770,0.310033,2.225460
8,200112,1,1,48,NaN,NaN,NaN,NaN,NaN,NaN,...,62.348286,0.996785,962.336,88.53440,3987.35240,3269.69000,0.917927,292.34900,0.082073,11.184200
9,200112,1,1,48,NaN,NaN,NaN,NaN,NaN,NaN,...,62.995830,0.996721,952.444,157.34000,21282.15000,4910.17000,0.740393,1721.67000,0.259607,2.851980
10,200116,2,3,83,NaN,NaN,NaN,NaN,315.0,NaN,...,60.185552,0.996667,996.917,35.31590,958.17600,291.28400,0.748859,97.68640,0.251141,2.981830
11,200116,2,3,83,NaN,NaN,NaN,NaN,315.0,NaN,...,59.601268,0.996644,1006.690,36.06150,1000.55790,225.99200,0.706080,94.07360,0.293920,2.402290
12,200117,2,1,43,NaN,NaN,NaN,NaN,NaN,NaN,...,77.029733,0.997403,778.920,25.93300,305.46870,116.50000,0.343094,223.05700,0.656906,0.522288
13,200117,2,1,43,NaN,NaN,NaN,NaN,NaN,NaN,...,74.452403,0.989276,805.884,64.42560,3541.74400,600.85300,0.705124,251.27100,0.294876,2.391250
14,200123,2,1,49,NaN,NaN,NaN,NaN,NaN,NaN,...,60.890956,0.996711,985.368,30.69820,211.57360,296.16200,0.425752,399.45900,0.574248,0.741408
15,200123,2,1,49,NaN,NaN,NaN,NaN,NaN,NaN,...,64.457424,0.990712,930.847,31.33770,320.94900,211.68300,0.336558,417.28100,0.663442,0.507291
16,200125,2,1,48,NaN,NaN,NaN,NaN,NaN,NaN,...,63.753622,0.996855,941.123,32.31600,358.92370,629.49100,0.914339,58.97460,0.085661,10.673900
17,200125,2,1,48,NaN,NaN,NaN,NaN,NaN,NaN,...,58.258649,0.996575,1029.890,24.15820,360.51340,187.12600,0.808862,44.21870,0.191138,4.231830
18,200133,2,1,74,NaN,NaN,NaN,NaN,NaN,NaN,...,58.942570,0.996587,1017.940,36.13410,289.03367,358.76900,0.379256,587.21300,0.620744,0.610969
19,200133,2,1,74,NaN,NaN,NaN,NaN,NaN,NaN,...,53.654305,0.996283,1118.270,37.34340,348.71530,297.49200,0.298781,698.19500,0.701219,0.426087