In [2]:
import pandas as pd

In [13]:
data = pd.read_csv("Qmerge1-FirstLastHRV.csv") 
data.head()

,nsrrid,gender_x,race_x,age_s1_x,ang_date,chd_dthdt,chf_date,cvd_dthdt,mi_date,stk_date,...,ihr,NN_RR,AVNN,SDNN,VLF,LF,LF_n,HF,HF_n,LF_HF
0,200079,2,3,56,NaN,NaN,NaN,NaN,NaN,NaN,...,75.112951,0.992000,798.797,46.2118,695.6390,285.530,0.256639,827.0460,0.743361,0.345241
1,200079,2,3,56,NaN,NaN,NaN,NaN,NaN,NaN,...,70.633025,0.968839,849.461,72.6343,1234.8283,1666.850,0.507907,1614.9500,0.492093,1.032140
2,200082,1,1,40,NaN,NaN,NaN,NaN,NaN,NaN,...,59.355400,0.996610,1010.860,39.4332,739.2121,531.024,0.686206,242.8310,0.313794,2.186800
3,200082,1,1,40,NaN,NaN,NaN,NaN,NaN,NaN,...,56.666320,0.996466,1058.830,146.8230,13231.3000,3964.450,0.378345,6513.9400,0.621655,0.608610
4,200108,2,1,60,NaN,NaN,NaN,NaN,NaN,NaN,...,64.954397,0.990741,923.725,27.7213,532.0790,168.406,0.672796,81.9015,0.327204,2.056200

## Column Names description
1. nsrrid = This subject identifier was created by the National Sleep Research Resource (NSRR) team to more easily match with file downloads. Use 'pptid' to link with Biologic Specimen and Data Repository Information Coordinating Center (BioLINCC) and cohort-specific data.

2. BLUE25 = Quality of Life (QOL) (Sleep Heart Health Study Visit One (SHHS1)): Felt downhearted and blue. 
        1: All of the time
        2: Most of the time
        3: A good bit of the time
        4: Some of the time
        5: A little of time
        6: None of the time

3. ihr = Instantaneous heart rate

4. NN_RR = Ratio of consecutive normal sinus beats (NN) over all cardiac inter-beat (RR) intervals

5. AVNN = Mean of all normal sinus to normal sinus interbeat intervals (NN) 

6. SDNN = Standard deviation of all normal sinus to normal sinus interbeat (NN) intervals

7. VLF = Very low frequency power: the normal sinus to normal sinus interbeat (NN) interval spectral power between 0.003 and 0.04 Hz

8. LF = Low frequency power: the normal sinus to normal sinus interbeat (NN) interval spectral power between 0.04 and 0.15 Hz

9. HF = High frequency power: the normal sinus to normal sinus interbeat (NN) interval spectral power between 0.15 and 0.4 Hz

10. HF_n = High frequency power (normalized)

11. LF_HF = The ratio of low to high frequency power

In [4]:
heart_rate_data = data.copy()

In [5]:
heart_rate_data = heart_rate_data[['nsrrid', 'gender_x', 'race_x', 'age_s1_x', 'BLUE25', 'ihr', 'NN_RR', 'AVNN', 'SDNN', 'VLF', 'LF', 'HF', 'HF_n', 'LF_HF']]

In [6]:
heart_rate_data.head()

,nsrrid,gender_x,race_x,age_s1_x,BLUE25,ihr,NN_RR,AVNN,SDNN,VLF,LF,HF,HF_n,LF_HF
0,200079,2,3,56,5.0,75.112951,0.992000,798.797,46.2118,695.6390,285.530,827.0460,0.743361,0.345241
1,200079,2,3,56,5.0,70.633025,0.968839,849.461,72.6343,1234.8283,1666.850,1614.9500,0.492093,1.032140
2,200082,1,1,40,6.0,59.355400,0.996610,1010.860,39.4332,739.2121,531.024,242.8310,0.313794,2.186800
3,200082,1,1,40,6.0,56.666320,0.996466,1058.830,146.8230,13231.3000,3964.450,6513.9400,0.621655,0.608610
4,200108,2,1,60,5.0,64.954397,0.990741,923.725,27.7213,532.0790,168.406,81.9015,0.327204,2.056200

In [9]:
# Skipping every other row, to reemove duplicate rows
heart_rate_data = heart_rate_data[::2]
heart_rate_data.head()

,nsrrid,gender_x,race_x,age_s1_x,BLUE25,ihr,NN_RR,AVNN,SDNN,VLF,LF,HF,HF_n,LF_HF
0,200079,2,3,56,5.0,75.112951,0.992000,798.797,46.2118,695.6390,285.530,827.0460,0.743361,0.345241
4,200108,2,1,60,5.0,64.954397,0.990741,923.725,27.7213,532.0790,168.406,81.9015,0.327204,2.056200
8,200112,1,1,48,5.0,62.348286,0.996785,962.336,88.5344,3987.3524,3269.690,292.3490,0.082073,11.184200
12,200117,2,1,43,5.0,77.029733,0.997403,778.920,25.9330,305.4687,116.500,223.0570,0.656906,0.522288
16,200125,2,1,48,5.0,63.753622,0.996855,941.123,32.3160,358.9237,629.491,58.9746,0.085661,10.673900

In [12]:
# Renaming columns 
heart_rate_data.rename(index=str, columns={'gender_x': 'Gender', 'race_x': 'Race', 'age_s1_x': 'Age'})
heart_rate_data.head()

,nsrrid,gender_x,race_x,age_s1_x,BLUE25,ihr,NN_RR,AVNN,SDNN,VLF,LF,HF,HF_n,LF_HF
0,200079,2,3,56,5.0,75.112951,0.992000,798.797,46.2118,695.6390,285.530,827.0460,0.743361,0.345241
4,200108,2,1,60,5.0,64.954397,0.990741,923.725,27.7213,532.0790,168.406,81.9015,0.327204,2.056200
8,200112,1,1,48,5.0,62.348286,0.996785,962.336,88.5344,3987.3524,3269.690,292.3490,0.082073,11.184200
12,200117,2,1,43,5.0,77.029733,0.997403,778.920,25.9330,305.4687,116.500,223.0570,0.656906,0.522288
16,200125,2,1,48,5.0,63.753622,0.996855,941.123,32.3160,358.9237,629.491,58.9746,0.085661,10.673900